[user]
  name = Richard Heycock
  email = rgh@filterfish.org

[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto

[alias]
  a    = add
  c    = commit
  dd   = diff
  st   = status
  co   = checkout
  root = !pwd
  ll   = log
  ls   = log --graph --pretty=format:'%C(yellow)%h%Creset%C(cyan)%d%Creset %s %Cgreen(%cr)%Creset %C(white)<%an>%Creset' --abbrev-commit --date=relative
  lsa  = log --graph --pretty=format:'%C(yellow)%h%Creset%C(cyan)%d%Creset %s %Cgreen(%cr)%Creset %C(white)<%an>%Creset' --abbrev-commit --date=relative --all
[push]
	default = simple
