[submodule ".vim/solarized"]
	path = .vim/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/repeat"]
	path = .vim/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/commentary"]
	path = .vim/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/surround"]
	path = .vim/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/orgmode"]
	path = .vim/orgmode
	url = git://github.com/jceb/vim-orgmode.git
[submodule ".vim/utl"]
	path = .vim/utl
	url = git://github.com/vim-scripts/utl.vim.git
[submodule ".vim/speeddating"]
	path = .vim/speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule ".vim/gundo"]
	path = .vim/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/vim-orgmode"]
	path = .vim/vim-orgmode
	url = git://github.com/jceb/vim-orgmode.git
[submodule ".vim/yankring"]
	path = .vim/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "dbext.vim"]
	path = dbext.vim
	url = https://github.com/vim-scripts/dbext.vim
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "tmux/tmux-colors-solarized"]
	path = tmux/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "zsh/git-annex-zsh-completion"]
	path = zsh/git-annex-zsh-completion
	url = https://github.com/esc/git-annex-zsh-completion
[submodule ".vim/coffee-script"]
	path = .vim/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
