[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/git-annex-zsh-completion"]
	path = zsh/git-annex-zsh-completion
	url = https://github.com/esc/git-annex-zsh-completion
[submodule ".vim/bundle/neobundle"]
	path = .vim/bundle/neobundle
	url = https://github.com/Shougo/neobundle.vim
[submodule "solarized/mutt"]
	path = solarized/mutt
	url = https://github.com/altercation/mutt-colors-solarized
[submodule "solarized/tmux"]
	path = solarized/tmux
	url = https://github.com/seebi/tmux-colors-solarized
